@using Entity.Concreate
@model Product
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card" style="width: 18rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body col-md-12">
					<h2 class="card-title">Ürün Güncelle</h2>
					<form method="post" asp-action="UrunGuncele">
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text">ProductId</span>
							<input type="text" class="form-control" asp-for="@Model.">
						</div>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text">UrunAdı</span>
							<input type="text" class="form-control" asp-for="@Model.UrunAdı">
						</div>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text">UrunFiyat</span>
							<input type="text" class="form-control" asp-for="@Model.UrunFiyat">
						</div>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text">UrunAcıklama</span>
							<input type="text" class="form-control" asp-for="@Model">
						</div>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text">UrunAdet</span>
							<input type="text" class="form-control" asp-for="@Model">
						</div>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text">UrunImage</span>
							<input type="text" class="form-control" asp-for="@Model">
						</div>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text">KategoryID</span>
							<input type="text" class="form-control" asp-for="@Model">
						</div>


						<input type="submit" class="btn btn-warning col-md-4 mx-auto" value="Güncelle"><br />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@if (ViewBag.SuccessMessage != null)
{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		Swal.fire({
			title: "Success!",
			text: "@ViewBag.SuccessMessage",
			icon: "success",
			button: "OK"
		});
	</script>

}